<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- Mantener nuget.org -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!-- Feed de GitHub -->
    <add key="github" value="https://nuget.pkg.github.com/Eskantu/index.json" />
  </packageSources>
</configuration>
